
 
 
 /*======================*/

.section-header {
    margin: 1em;
    color: #424242;
}
.cart-section {
    width: 100%;
    
    /* padding: 1em; */
    /* margin: 1em; */

 
}

.cart-container {
    /* background-color: crimson; */
    background-color: white;
    width: 100%;
    padding: 1em 0em;
    margin: 1em auto;
}

.cart-header {
    /* font-weight: bold; */
    /* padding: 1em; */
    font-size: 16px;
    color: #333;
    /* text-align:left; */
}

.cart-column {
    display: flex;
    
    /* justify-content: center; */
    width: 100px;
    align-items: center;
    /* border-bottom: 1px solid black; */
    margin-right: 20px;
    padding-bottom: 10px;
    margin-top: 10px;
    /* background-color: black; */
    
}

.cart-row {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background-color: blue; */
    margin: 2em;
}


.cart-item {
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    /* width: 40%; */
}

.cart-price {
    width: 100px;
    font-size: 15px;
    color: #ff5404;
    /* background-color: blueviolet; */
    text-align: center;
}

/* .cart-quantity {
    width: 35%;
} */

.cart-item-title {
    margin-top: .5em;
    color: #333;
   
    font-size: 16px;
}

.cart-item-image {
    width: 100px;
    height: 100px;
    border-radius: 0px;
}

.btn-danger {
    display: flex;
    width: 20px;
    align-items: center;
    background-color: white;
    color: #888888;
    border: none;
    font-size: 18px;
}

/* .btn-danger:hover {
    background-color: #CC4C4C;
} */

.cart-quantity-input {
    height: 34px;
    width: 44px;
    border-radius: 5px;
    border: none;
  
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 16px;
    margin-right: 25px;
}

/* .cart-row:last-child {
    border-bottom: 1px solid black;
} */

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em;
    margin-top: 10px;
    margin-right: 10px;
    /* background-color: #2abbe8; */
}

.cart-total-title {
    display: block;
    font-size: 20px;
    font-weight: none;
    margin-right: 20px;
}

.cart-total-price {
    color: #ff5404;
    font-size: 16px;
}
.btn-purchase {
    border-radius: 3px;
    background-color: #2abbe8;
    color: #ffffff;
    border: none;
    width: 100px;
    margin: 0.5em auto;
    font-size: 1em;
}