
 
 


  
 

.continue-shop {
    background-color: #ff5404;
    color: white;
    margin-top: 20px;   
    padding: 0.5em;
    border-radius: 3px;
    border: none;
    font-size: 22px;
}
.cart-label {
    margin-top: 2em;
    text-align: center;
}
.label {
    color: grey;
}

.bucket-list {
    display: grid;
    grid-template-columns: repeat(1, 470px);
    justify-content: center;
    gap: 15px;
    

 }

.item-details {
    /* background-color: red; */
    /* display: flex; */
    padding: 0.7em 0.9em;
}

.cart-item {

    display: flex;
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 0.2em;

   
}

.cart-item:hover {

    box-shadow: 3px 3px 6px #888888;

}

.title-price-x {
    width: 310px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
  
    
    
}

.bi-x-lg {
    color: grey;
    font-size: bold;
}
.title-price {
    width: 100%;
    /* display: flex; */
    /* align-items: center; */
    /* background-color: red; */
}

.cart-name {
    width: 280px;
    height: 34px;
    overflow: hidden;
    font-size: 14px;
    /* background-color: blue; */
    
}
.cart-price {
    margin-top: 0.5em;
    color: #ff5404;

}
.quantity-box {
    margin-top: 0.7em;
    max-width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 25px);
    justify-content: center;
    text-align: center;
    /* background-color: #2f2f2f; */
    color: #4b4b4b;

    
  }
.quantity {
    padding: 2px;
    /* background-color: red; */
}
  .plus, .minus {
    background-color: #f2f2f2;
    border-radius: 2px;
    padding: 2px;
    color: grey;
  }

.plus:hover {
    background-color: #e2e2e2;
    
}
.minus:hover {

    background-color: #e2e2e2;
}

