.buy-form {
    background-color: white;
    margin: 2em;
    height: 60vh;
    padding: 2em;
    border-radius: 0.5em;
}

.input-block {
    margin-top: 2em;
}

label {
    display: inline-block;
    width: 80px;
    color: grey;
}

input {
    background-color: whitesmoke;
    border: none;
    font-size: 16pxpx;
    padding: 0.5em;
    overflow: auto;
    outline: none;
}

.buy-head {
    color: grey;
    font-weight: 200;
}