@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

 }



h3 a {
   font-weight: normal;
   color: #0a0a0a;
   font-size: 15px;
   font-family:'Roboto', sans-serif; 
}

body {
   background-color: #f2f2f2;
   font-family:'Roboto', sans-serif; 
   
}


/*===========header-section================*/
#logo{
   font-size: 45px;
   padding: 0.3em;
   margin: 0;
   color:#ff5404;
   /* border: 1px solid black; */
}

.header {
   position: sticky;
   top: 0;
   /* margin-bottom: 1em; */
   z-index: 1000;
   
   
   background-color: white;
   width: 100%;
   /* padding: 0em 1em; */
   box-shadow: 3px 3px 7px #888888;
    

}

.header-nav {
   /* width: 100%; */
   display: flex;
   flex-direction: row;
   /* background-color: aquamarine; */
   /* border: 1px solid black; */
   align-items: center;
   justify-content: space-between;
   margin: 0em 1em;

}



 nav {
   display: none;
 }

.menu-btn {
   display: block;
}

nav {
   position: fixed;
   z-index: 999;
   height: 100vh;
   width: 180px;
   top: 0px;
   right: 0px;
   background-color: white;
   opacity: 1;
   box-shadow: 3px 3px 7px #888888;
    /* display: none; */
 }

 .nav-bar i {
   font-size: 20px;
   display: block;
   text-align: right;
   padding: 1.2em 1.2em ;
   color:#414141;
 }

 .primary-nav {
   margin-top: 3em;
 }

 .primary-nav li {
   /* background-color: #f85606; */
   width: 100%;
   margin: 1em 0em;
 
 }

.primary-nav li a {
   /* background-color: #f85606; */
   margin-right: 2em;
   text-decoration: none;
   display: block;
   color: #2abbe8;
   font-size: 16px;
   text-align: right;

}


.primary-nav li a:hover {
   font-weight: bold;
}

 .search-bar {
   
   display: grid;
   grid-template-columns: auto 40px;
   height: 100%;
   /* background: #000;s */
   
 }

 
 .search-area {
   background-color: #f2f2f2;
   overflow: auto;
   outline: none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
   border: none;
   font-size: 14px;
   padding: 1em;
   width: 100%;

 }
 .cart-search {
   display: flex;
   align-items: center;
   justify-content: space-between;
   
 }

 @media (min-width: 550px) {

   .search-bar {

      width: 400px;
   }

   .cart-search {
      width: 430px;
    }
      
}
@media (min-width: 700px) {

   .search-bar {

      width: 400px;
   }
   
   .cart-search {
      width: 460px;
    }
}
@media (min-width: 900px) {

   .search-bar {

      width: 500px;
   }
   .cart-search {
      width: 560px;
    }
}
@media (min-width: 1000px) {

   .search-bar {

      width: 550px;
   }
   .cart-search {
      width: 620px;
    }
}

.fa-magnifying-glass {
   background-color: #2abbe8;
   color: white;
   padding: 14px;
}

 .fa-cart-shopping,.fa-bars {
   color: gray;
   font-size: 20px;
   padding: 0.8em;
   
 }

 .cart-div {
   position: relative;
   /* background-color: blue; */


 }

 .cartTotal {
   position: absolute;
   background-color: #ff5404;
   font-size: 14px;
   top: 0;
   right: 0;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   color: white;
   padding: 0.2em;
 }



 header ul li {
    padding: 0.5em;
    width: 55px

 }

/* .sub_header {
   position: relative;
   top: 100px;
} */

 section .hero_section {
  position: relative;
   
 }

 

 .hero_text {
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   z-index: 99;
   bottom: 110px;
   background-color: #ff5404;opacity:0.9;
   padding:  2em 1em;
   padding-left: 2.5em;
   width: 400px;
   /* height: 100px; */
   border-radius: 0 0em 3em 0em;
   
}



.hero_text h2 {
   color: #ffff87;

}
.hero_text p {
   padding-top: 2em;
   color: #f2f2f2;
}

 .hero_img {
   background-image: url(../img/jeans7.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 402px;
   width: 100%;
   background-color: rgb(0,0,255);opacity:0.9;;

 }

 

.shop_btn {
   color: #ff5404;
   background-color: white;
   margin-top: 20px;
   border: none;
   padding: 0.5em 1em;
   border-radius: 1em;
   max-width: fit-content;
   cursor: pointer;
}
 
.container_head {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   /* background-color:white; */
   padding: 2em 2em 0em 2em;
   color: #424242;
   font-size: 17px;
   
}

.show_btn {
   color:#ff5404;
   border: 1px solid #ff5404;
   font-size: 15px;
   padding: .5em;
   border-radius: 3px;
   cursor: pointer;
}

.product_sales{
   
   display: grid;
   grid-template-columns: repeat(2, 200px);
   gap: 5px;
   width: 400px;
   margin: 30px auto;
 }

/*on screen greater than*/

 @media (min-width : 750px) {

   .product_sales {
  
      grid-template-columns: repeat(3, 200px);

      width: 600px;
    }
   
   
 }
 @media (min-width : 900px) {

   .product_sales {
      grid-template-columns: repeat(4, 200px);
      width: 800px;
    }
   
   
 }
 @media (min-width : 1050px) {

   .product_sales {
      grid-template-columns: repeat(5, 200px);
      width: 1000px;
    }
   
   
 }
 @media (min-width : 1200px) {

   .product_sales {
      grid-template-columns: repeat(6, 200px);
      width: 1200px;
     
    }
   
   
 }


/* .inner_container {

   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   
 } */

 .product_img {
   width: 188px;
   height: 188px;
  
}


.product_list {

   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   width: 188px;
   height: 290px;
   background-color: white;
   margin: 10px 5px;
   color: #0a0a0a;
   /* border: 1px solid #2e2e54; */
   border-radius: 5px;
   
}

.product_list:hover {
   box-shadow: 3px 3px 6px #888888;

}

.name {
   height: 38px;
   line-height: 18px;
   font-size: 14px;
   margin: 0.5em 0em; 
   /* background-color: #ff5404; */
   padding-left: 0.5em;
   overflow: hidden;
  
}
.cart-add-price {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   width: 180px;
   /* background-color: red; */
   /* padding : 0; */
}
.price {
   width: 130px;
   text-align: left;
   margin-bottom: 4px;
   font-size: 18px;
   color: #f85606;
   letter-spacing: -.56px;
   line-height: 22px;
   height: 22px;

}
.addtocart {
   
   width: fit-content;
   /* padding: 0.3em; */
   text-align: center;
   border-radius: 0.2em;
   background-color: white;
   cursor: pointer;
   border: none;
   color: #2abbe8;
   font-size: 20px;
   
 }

 .addtocart:hover {
   /* background-color:; */
   color: #f85606;

 }

 

/*==================productcss============*/



/* .jfy_section ul{
   display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
} */

.footer_sec {
   display: flex;
   flex-direction: row;

   align-items: center;
   justify-content: space-evenly;
   


}

footer p {
   width: 200px;
   margin: 30px;
   color: white;
}

footer {
   background-color: #2e2e54;
   padding: 1.5em;
   margin-top: 15em;

}


.social-icon {
   margin-top: 2em;
   display: grid;
   grid-template-columns: repeat(5, 40px);
   justify-content: center;

}
.fa-brands {
   color: white;
   font-size: 22px;
}

.copyright {
   /* background-color: red; */
   
   text-align: center;
   /* margin: 1em auto; */
   color: white;
   padding: 2em;
}



/* @media (max-width: 767px) {


   .home-section .container .inner_container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
     
   }



   .product_list {
      margin-top: 50px;
      width: 150px;
      height: 250px;

   }

   footer .footer_sec {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

   }
   /* ul .product_img {
      margin-top: 225px;
      margin-right: auto;
      margin-left: 166px;
  
  } 

} */
